/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global Spot Search Backdrop */
.blur-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(5px);
}

.spot-search-panel {
  max-width: 90vw !important;
}
