<mat-toolbar color="primary" class="topbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title hide-on-mobile">{{ title() }}</span>
  <span class="spacer"></span>
  
  <mat-form-field appearance="outline" class="identity-switcher hide-on-mobile" style="margin-top: 16px; margin-right: 16px;">
    <mat-label>View As</mat-label>
    <mat-select [(ngModel)]="currentDesigner" (selectionChange)="onDesignerChange()">
      <mat-option *ngFor="let d of designers" [value]="d">{{ d.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <lib-notification-bell 
    *ngIf="currentDesigner" 
    [recipientEmail]="currentDesigner?.email" 
    [recipientRole]="'Designer'">
  </lib-notification-bell>

  <button mat-button class="search-btn">
    <mat-icon>search</mat-icon> <span class="hide-on-mobile">Search (Ctrl+K)</span>
  </button>
  <div class="role-indicator designer hide-on-mobile">
    <mat-icon>brush</mat-icon> Designer
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="isSidebarOpen" mode="side" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/my-tasks" routerLinkActive="active-link">
        <mat-icon matListItemIcon>checklist</mat-icon>
        <span matListItemTitle>My Tasks</span>
      </a>
      <a mat-list-item routerLink="/projects" routerLinkActive="active-link">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span matListItemTitle>Projects (View Only)</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
